/*
* Victoria Corbo
* Due Date
* Metadata: Softball is the best sport!
*/

header {
    background-color: lightpink;
}

main {
    background-color: lightgreen;
}

footer {
    background-color: lightpink;
}

body {
    background-color: azure;
}